<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <!-- metadati -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Meteo24h, weather forecasts from all around the world.">
    <meta name="keywords" content="Meteo, Città, Previsioni, Clima, Tempo, Temperatura, Precipitazioni, Weather, City, Rainfall, Temperature, Forecast">
    <meta name="author" content="Tomas Hernandez, Università degli Studi di Milano">
    <link href="/meta/schema.json" type="application/ld+json" rel="alternate">
    <!-- titolo pagina -->
    <title>Meteo24h | Wheather forecasts</title>
    <!-- collegamenti css --> 
    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/cover/">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <!-- logo -->
    <link rel="icon" href="img/logo.png" type="image/x-icon">
  </head>

  <body class="d-flex h-100 text-center text-white bg-dark"> 
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <!-- navbar -->
      <header class="mb-auto">
        <div>
          <h3 class="float-md-start mb-0">Meteo24/7</h3>
          <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link fw-bold py-1 px-0 active" href="https://github.com/TomasHernandez1/Meteo24-7" target="_blank">Github repo</a>
          </nav>
        </div>
      </header>
      <!-- descrizione e pulsante -->
      <main class="px-3">
        <h1 class="animate-left typewriter">Meteo24/7</h1>
        <p class="animate-left lead">Meteo24/7, real-time weather and forecasts from around the world.<br><b>Press "Search" to enter the site!</b></p>
        <p class="lead">
          <a href="/meteo" class="btn btn-lg btn-light btn-info">Search</a>
        </p>
      </main>
      <!-- footer -->
      <footer class="mt-auto text-white-50" id="foot">
        <p>Hernandez Trillo Tomas - Università degli Studi di Milano</p>
      </footer> 

    </div>
  </body>
</html>
